
<div style = "width: 100%; padding-left: 10rem">
  <%= review.rate %>
</div>
<div style = "width: 100%">
  <%= review.comment %>
</div>
<div style = "width: 100%">
  <%= review.user_id %>
</div>
<div style = "width: 100%">
  <%= review.product_id %>
</div>