<div style = "reviews-table" style = "display: flex; justify-content: center; width: 100%">

  <div style = "display: flex; justify-content: center; width: 100%; margin: 1rem">
    <h1>Reviews</h1>
  </div>

  <div id="reviews" style = "display: flex; aling-items: center; flex-direction: column">
    <% @reviews.each do |review| %>
       <div class = "review-table-header">
          <div class = "review-table-header-item">
            <h4>Estrellas</h4>
          </div>
          <div class = "review-table-header-item">
            <h4>Comentario</h4>
          </div>
          <div class = "review-table-header-item">
            <h4>User id</h4>
          </div>
          <div class = "review-table-header-item">
            <h4>Product id</h4>
          </div>
          <div class = "review-table-header-item">
            <h4>Link</h4>
          </div>
        </div>
    <div class = "review-table-container">
      <%= render review %>
      <%= link_to "Show this review", review , style: "width: 100%" %>
    <% end %>
    <div>
  </div>
</div>