<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
</head>
<body>
    <section class="section">
        <div class="container has-text-centered">
        

            <h1 class="title">
                Explorar Catálogo de Productos
            </h1>

            <%= image_tag('logo.png', alt: 'Logo', width: '75', height: 'auto') %>

            <p class="subtitle">
                    Revisa el listado de productos que otros usuarios han publicado.
            
            <div class="columns is-multiline">
                <% @products.each do |product| %>
                    <div class="column is-one-third">
                    <div class="card">
                        <div class="card-content">
                        <div class="content">
                            <h2><%= product.name %></h2>
                            <p><%= product.description %></p>
                            <%= cl_image_tag(product.image, width: 50, height: 50, crop: "fill") %>
                            <!-- Puedes agregar más detalles o links a páginas de detalle del producto si lo deseas -->
                        </div>
                        </div>
                    </div>
                    </div>
                <% end %>
                </div>
        </div>
    </section>
</body>
</html>
