<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
body {
  background-color: blue;
  height: 100vh;
}
<h1> My Zar Nicolas </h1>
<p>Hello world</p>
<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"> Historias_de_usuario </a>