<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
</head>
<body>
    <section class="hero">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    ¡Bienvenido a Ba Zar!
                </h1>
                <p class="subtitle">
                    El sitio web de intercambio de legos más grande del mundo.
                </p>
                <%= image_tag('logo.png', alt: 'Logo', width: '75', height: 'auto') %>
                <div class="notification is-warning">
                    <p class="subtitle">
                        Página en Construcción
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
