<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
</head>
<body>
    <section class="section">
        <div class="container has-text-centered">
            <h2 class="title">
                Sobre nosotros
            </h2>
            <div class="content">
                <p>
                    En Ba Zar nos dedicamos a ofrecer una plataforma para que los usuarios puedan intercambiar sus legos. 
                </p>
                <p>
                    Somos un equipo de exelencia que se encuentra comprometido con ofrecer la mejor experiencia para nuestros usuarios y estamos constantemente trabajando en mejorar nuestro sitio.
                </p>
            </div>
            <div class="notification is-warning">
                <p class="subtitle">
                    Página en Construcción
                </p>
            </div>
        </div>
    </section>
</body>
</html>
