<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
</head>
<body>
    <section class="section">
        <div class="container has-text-centered">
            <h2 class="title">
                Reportar un Problema
            </h2>
            <div class="content">
                <p>
                    Si has encontrado algún problema en nuestro sitio web o crees que un usuario está cometiendo malas prácticas o conductas mediante nuetra página, por favor, repórtalo para que podamos solucionarlo lo antes posible o tomar las medidas necesarias.
                </p>
            </div>
            <div class="notification is-warning">
                <p class="subtitle">
                    Página en Construcción
                </p>
            </div>
            <div class="columns is-centered">
                <div class="column is-half">
                    <form>
                        <div class="field">
                            <label class="label">Nombre</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Tu nombre">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Correo Electrónico</label>
                            <div class="control">
                                <input class="input" type="email" placeholder="Tu correo electrónico">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Descripción del Problema</label>
                            <div class="control">
                                <textarea class="textarea" placeholder="Describe el problema que has encontrado"></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary">Enviar Reporte</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
