<h2>Chat</h2>
<div>
    <h3>Nuevo chat</h3>
    <textarea rows="4" cols="50">
        solo la interfáz, ver más adelante
    </textarea>
    <form>
        <input type="submit" value="Submit">
    </form>
</div>