<div style = "align-items: center; display: flex; width: 100%; justify-content:center; flex-direction:column">
  <div style = "margin: 1rem;">
    <h1>Edita el producto</h1>
  </div>

  <%= render "form", product: @product %>

  <div style = "display: flex; align-items: center; width: 100%; justify-content: center">
    <%= link_to "Ver el producto", @product, class: "product-table-value-item-btn" %>
    <%= link_to "Todos los productos", products_path, class: "product-table-value-item-btn" %>
  </div>
</div>
