.navbar.is-danger {
    background-color: #92B1F9 !important;
}

/* Cambia el color del texto en la barra de navegación */
.navbar.is-danger .navbar-item {
    color: #08142C !important;
}

/* Cambiar el color de fondo de is-info a azul claro (#add8e6) */
.is-info {
    background-color: #08142C;
}

.button-as-link {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    display: inline;
    margin: 0;
}

.button-as-link:focus {
    outline: none;
}

.custom-navbar-end {
    padding-right: 5px;
    /* Ajusta el valor según tus necesidades */
}

.profile-icon {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.logo-img {
    width: 200px;
    /* Ajusta el ancho según tus necesidades */
    height: auto;
    /* Mantiene la proporción original */
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */