.navbar.is-danger {
    background-color: #92B1F9 !important;
}

/* Cambia el color del texto en la barra de navegación */
.navbar.is-danger .navbar-item {
    color: #08142C !important;
}

/* Cambiar el color de fondo de is-info a azul claro (#add8e6) */
.is-info {
    background-color: #08142C;
}

.button-as-link {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    display: inline;
    margin: 0;
}
.button-as-link:focus {
    outline: none;
}

.custom-navbar-end {
    padding-right: 5px; /* Ajusta el valor según tus necesidades */
}

.profile-icon {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

