.navbar.is-danger {
    background-color: #92B1F9 !important;
}

/* Cambia el color del texto en la barra de navegación */
.navbar.is-danger .navbar-item {
    color: #08142C !important;
}

/* Cambiar el color de fondo de is-info a azul claro (#add8e6) */
.is-info {
    background-color: #08142C;
}